@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');

* {
font-family: 'Noto Sans KR', sans-serif;
}

#loginasdf {
    position: absolute;
    top:13px;
    right: 170px;
    /* display: block; */
    display:none;
    font-family: jo
}

#signupasdf {
    position: absolute;
       top:13px;
    right: 50px;
    /* display: block; */
    display:none;
}


/* 로그인 완료 시 display block으로  */
#watchlist_button {
    position: absolute;
       top:7px;
    right: 150px;
    border: none;
    background: none;
    display:block;
    /* display: none; */
}

/* 로그인 완료 시 display block으로  */
#profile {
    position: absolute;
       top:5px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: #070b07;
    float: left;
    border: 3px solid #E17305;
    border-radius: 70%;
    overflow: hidden;
    display:block;
    /* display: none; */
}

#profile_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* 관심리스트 팝업창 */

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

#close {
    background: none;
    border: none;
    position: absolute;
    top: 100px;
    right: 130px;
}

.close {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.289));
}

.watchlist_popup {
    overflow: auto;
    position: absolute;
    background-color: rgb(255, 254, 250);
    top: 180px;
    right: 200px;
    /* transform: translate(-50%, -50%); */
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    /* 임시 지정 */
    width: 300px;
    height: 480px;
    border-radius: 10px;
    padding:10px;
    /* border: 1px solid  #d6822e; */

    /* 초기에 약간 아래에 배치 */
    /* transform: translate(-50%, -40%); */

    /* background: url(../UI/UI/뭐뭇나_List_none.png) center center; */
    /* padding-top: 10px; */
    background-repeat: no-repeat;
    background-size: 100%;
}

.show .watchlist_popup {
    transform: translate(0%, -20%);
    transition: all 0.5s;
}

.show #close  {
    transform: translate(0%, -50%);
    transition: all 0.5s;
}



/* 스크롤바 커스텀 */
.watchlist_popup::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.watchlist_popup::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #e6892c; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.watchlist_popup::-webkit-scrollbar-track {
    background: #ffffffff;
    border-radius: 0px 10px 10px 0px;  /*스크롤바 뒷 배경 색상*/
}





/* 여기서부터 팝업 안 */

.watch_txt {
    position: absolute;
    width: 150px;
    top: 2%;
    right: 20%;
}

.store {
    /* background-color: black; */
    width: 270px;
    height: 120px;
    border: 1px solid rgb(224, 131, 0);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    position: relative;
    box-shadow: 1px 1px 2px 1px rgba(126, 113, 92, 0.437);
    background-color: rgb(255, 252, 248);
    cursor: pointer;
}



.keep_btn {
    width: 100%;
    height: 100%;
    /* filter: drop-shadow(2px 2px 2px #ffff00); */
}

 .store_photo {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: url(../UI/UI/keep_btn_sel.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: 8px;
    overflow: hidden;
}

.store_details {
    /* background-color: rgb(220, 220, 220); */
    margin-top: 3px;
    width: 150px;
    position: absolute;
    right: 2%;
    top: 5px;
    font-size: 13px;

}

hr {
    margin: 0px;
    padding: 0px;
}

.subject {
    color:#E17305;
}
.gray {
    color:rgb(47, 47, 47);
}

.store_name {
    /* background-color: rgb(175, 175, 175); */
    /* font-family: 'Noto Sans KR', sans-serif; */
     overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.store_score {
    /* background-color: rgb(131, 129, 129); */
    /* font-family: 'Noto Sans KR', sans-serif; */
}

.store_category {
    /* background-color: rgb(90, 90, 90); */
    /* font-family: 'Noto Sans KR', sans-serif; */
     overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.store_address {
    /* background-color: rgb(46, 45, 45); */
    /* font-family: 'Noto Sans KR', sans-serif; */
       text-overflow: ellipsis;
   overflow: hidden;
   word-break: break-word;
    
   display: -webkit-box;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
}



/* 킵리스트에 가게 0개일 때 display block, 1개 이상이면 display none */
.list_none {
  /*   display: none; */
    display: block;
    width: 275px;
    height: 450px;
    margin: 0 auto;
}


/* 가게별 이미지 세팅, url부분 수정하면 됨 */
#store0 > .store_photo {
    background: url(../UI/storeImg/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#store1 > .store_photo {
    background: url(../UI/storeImg/2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}




/* 가게별 watchlist btn 세팅, display 부분 수정하면 됨 
/* 킵리스트 버튼, 킵 상태일 때가 디폴트 킵 해제했을 때 .star에 display none주기 */
/* .star가 더 위에 있음 */

#store0 > .keep_icon> .star {
    display: none;
}

#store1 > .keep_icon> .star {
    display: none;
}
#store2 > .keep_icon> .star {
    display: none;
}



#keepImg0,
#keepImg1,
#keepImg2,
#keepImg3,
#keepImg4,
#keepImg5,
#keepImg6,
#keepImg7,
#keepImg8,
#keepImg9

 {
	width: 30px;
	height: 30px;
	z-index: 2000;
	position: absolute;
	top: 10px;
	left: 77px;
}

