@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
.storeSet {
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  /* min-width: 230px;
  max-width: 315px;
  width: 100%; */
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 14px;


    width: 200px;
    height: 200px;
    /* border: 15px solid rgb(255, 255, 255); */
    background: url(../UI/storeImg/1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 10px solid white;
    
  }

.storeSet * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.storeSet img {
  max-width: 100%;
  vertical-align: top;
}
.storeSet figcaption {
  position: absolute;
  top: calc(77%);
  width: 100%;
  background-color: #ffffff;
  padding: 15px 25px 65px;
}
.storeSet figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.storeSet h3,
.storeSet p {
  margin: 0 0 10px;
}
.storeSet h3 {
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1.2em;
  /* font-family: 'Oswald', Arial, sans-serif; */
  text-transform: uppercase;
}
.storeSet p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.storeSet a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.storeSet:hover figcaption,
.storeSet.hover figcaption {
  top: 80px;
}