@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    /* background-color: rgb(239, 238, 238); */
}

/* 리뷰 보여주는 영역 */

#show_review {
    display: flex;
    /* position: absolute;
    top: 2000px; */
    /* border: 1px solid lightcoral; */
    /* background-color: rgb(255, 241, 241); */
    width: 1400px;
    height: 500px;
    position: relative;
    margin-top: 50px;
}

#first_line {
    /* background-color: rgb(255, 139, 118); */
    border: 1px solid lightcoral;
    width: 100%;
    height: 70px;
    border-radius: 5px;

}

#review_title2 {
    text-align: left;
    /* background-color: rgb(126, 126, 247); */
    width: 600px;
    font-size: 40px;
    color: rgb(255, 128, 128);
    font-weight: 400;
    position: absolute;
    top: 5px;
    left: 20px;
    font-family: 'Jua', sans-serif;
    text-shadow: 1px 1px 1px rgb(109, 61, 61);
}

#review_sort {
    /* background-color: blueviolet; */
    width: 600px;
    position: absolute;
    top: 25px;
    left: 820px;
}


#score_btn2 {
    height: 25px;
    /* background-color: blue; */
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    font-family: 'Jua', sans-serif;
    color:rgb(87, 87, 87);
    font-size: 18px;
    cursor: pointer;
}

#score_btn2:hover {
    color: lightcoral;
}

.score_btn2-1 {
    border: 1px solid  lightcoral;
    border-style: none solid none none;
    width: 100px;
}

.score_btn2-2 {
    border: 1px solid  lightcoral;
    border-style: none solid none none;
    width: 170px;
}

.score_btn2-3 {
    border: 1px solid  lightcoral;
    border-style: none solid none none;
    width: 130px;
}

.score_btn2-4 {
    border: 1px solid  lightcoral;
    border-style: none;
    width: 140px;
}



/* 리뷰 1개당 단위 */

.review_wrap {
    display: flex;
    height: auto;
    position: relative;
    top: 0px;
    
}

.review_contents {
    border: 1px solid lightcoral;
    /* border-radius: 5px; */
    width: 1100px;
    min-height: 380px;
    position: relative;
    top: -380px;
    left: 0px;
    margin-bottom: 50px;

    /* position: absolute;
    top: 100px;
    left: 0px; */
}


.review_profile_box {
    width: 150px;
    height: 150px;
    position: relative;
    top: 40px;
    left: 40px;
    /* background-color: blueviolet; */
}

.review_profile_photo {
    width: 100%;
    height: 100%;
    border-radius: 70%;
    background-color: black;
    border: 3px solid lightslategray;
    background: url(../UI/UI/keep_btn.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.nickname {
    position: relative;
    top: 5px;
    left: 2px;
    width: 150px;
    text-align: center;
    /* background-color: yellowgreen; */
    font-family: 'Jua', sans-serif;
    color:rgb(87, 87, 87);
    /* font-size: 20px; */
}

.reg_date {
    position: relative;
    top: -120px;
    left: 270px;
    text-align: left;
    color:rgb(170, 170, 170);
    /* background-color: blue; */
}

.show_rate {
    position: relative;
    top: -140px;
    left: 930px;
    width: 140px;
    height: 50px;
    background-color: lightcoral;
    box-shadow: 2px 2px  gray;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 5px 0px 5px;
    color: white;
    /* font-family: 'Jua', sans-serif; */
}

.WIA_title {
    position: relative;
    top: -150px;
    left: 270px;
    font-weight: 600;
    text-align: left;
}

.highlight {
    color:rgb(255, 128, 128);
}

.WIA_container {
    position: relative;
    top: -140px;
    left: 270px;
    width: 700px;
    height: 40px;
    overflow: hidden;
    /* background-color: rgb(244, 231, 255); */
}

.WIA_contents {
    max-width: 110px;
/*     height: 25px; */
    border: 1px solid lightcoral;
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-right: 5px;
/*     margin-bottom: 5px; */
    padding: 5px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.riview_contents {
    position: relative;
    top: -120px;
    left: 270px;

    width: 635px;
    min-height: 30px;
    font-size: 15px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(253, 248, 240);
    display: flex;
    text-align: left;
    padding: 5px;
}

.show_images {
    display: flex;
    position: relative;
    top: -80px;
    left: 270px;
    width: 650px;
    height: 100px;
}

.show_images2 {
    display: inline-block;
    border: 1px solid rgb(255, 208, 208);
    width: 120px;
    height: 120px;
    margin-right: 15px;
}

.show_images3 {
	width: 100%;
	height: 100%;
}