@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    /* background-color: rgb(239, 238, 238); */
}

#header {
    /* background-color: rgb(248, 233, 250); */
    width: 100%;
    height: 300px;
    margin: auto;
    text-align: center;
}

#event_banner {
    width: 100%;
    height: 35%;
    position: absolute;
    top: 2%;
    left: 0%;
}


#body {
    /* border: 1px solid black; */
    /* background-color: rgb(239, 239, 239); */
    padding: 10px;
    width: 1400px;
    text-align: center;
    margin: 0 auto;
    display: block;
}


#store {
    /* position: relative; */
    width: 1400px;
    height: 650px;
    margin: 0;
    /* padding: 20px; */
    top: 10px;
    /* border: 1px solid rgb(255, 123, 0); */
    border-radius: 10px;
    /* border-style: solid none solid none; */
    /* background-color: rgb(196, 103, 103); */
    background-color: rgb(255, 123, 0);
    /* background-color: rgb(255, 164, 78); */
    /* box-shadow: 1px 1px 1px 1px black; */
    display: flex;
    margin-bottom: 100px;
}

#store_photo {
    background-color: rgb(236, 236, 236);
    width: 850px;
    height: 650px;
    position: relative;
    /* padding-top: 2%; */
    /* padding-bottom: 2%; */
    top: 0px;
    left: -430px;
    border-radius: 10px 0px 0px 0px;
}

#store_info {
    position: relative;
    top: 12px;
    left: 920px;
    width: 446px;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 1px 1px 1px 1px rgb(63, 44, 44); */
    padding: 10px;
    /* border: 1px solid rgb(255, 123, 0); */
}

#store_name {
    background-color: rgb(255, 255, 255);
    width: 440px;
    padding: 15px 0px 15px 0px;
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 1;
    text-align: left;
    font-size: 36px;
    font-weight: 600;
    color: rgb(62, 62, 62);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid rgb(153, 153, 153);
    border-style: none none solid none;
}

#store_keep {
    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    position: absolute;
    top: 5px;
    z-index: 2;
    right: 24px;

}

#keepImg{
	width: 70px;
	height: 70px
}

.keep_btn {
    width: 70px;
    height: 70px;
    background-color: white;
}

.store_keep {
    background-color: none;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    /* background: url(../UI/UI/keep_btn.png);
    background-repeat: no-repeat;
    background-size: 100%; */
    cursor: pointer;
    z-index: 3;
}

/* .store_keep:hover {
    background: url(../UI/UI/keep_btn_hover.png);
    background-repeat: no-repeat;
    background-size: 100%;
} */


#store_detail {
    /* background-color: rgb(244, 208, 224); */
    width: 400px;
    height: 350px;
    margin-bottom: 50px;
    position: absolute;
    top: 90px;
    left: 15px;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    background-color: white;
}

.subject {
    color: rgb(62, 62, 62);
    background-color: white;
    font-weight: 600;
}

.fromDB-most {
    color: rgb(255, 102, 0);
    background-color: white;
    font-weight: 600;
}

.fromDB {
    color: rgb(152, 152, 152);
    background-color: white;
}

.fromDB-rate {
    color: rgb(211, 26, 26);
    font-size: 30px;
    background-color: white;
}

#related_tag {
    background-color: white;
    width: 420px;
    height: 40px;
    position: absolute;
    top: 430px;
    left: 0px;
}

.tag1 {
    width: 130px;
    height: 30px;
    margin-right: 7px;
    text-align: left;
    background-color: rgb(255, 226, 183);
    border-radius: 10px;
    display: inline-block;
}

.tag2 {
    position: absolute;
    top: 0%;
    left: 20px;
    width: 100px;
    height: 30px;
    margin-top: -2px;
    background: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tag1>a>.sharp {
    color: rgb(67, 67, 67);
    background: none;
    margin-left: 10px;
    /* margin: 0px 10px 0px 10px; */
}

.tag1>a {
    /* width: 80px; */
    /* height: 25px; */
    /* padding-top: -10px; */
    position: absolute;
    background: none;
    /* top: -10%; */
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 102, 0);

}



/* 메인 이미지 */

#mainImage {
    height: 550px;
    /* margin: 5px; */
    position: relative;
    top: 0px;
    left: 0%;
    border-radius: 0px 0px 0px 0px;
    background-image: url(../UI/storeImg/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    z-index: 1;
}

#box {
    background-color: rgb(247, 247, 247);
    border-radius: 0px 0px 0px 5px;
    width: 850px;
    height: 100px;
    position: absolute;
    top: 550px;
    left: 0px;
    overflow-y: scroll;
}

.selected {
    outline: 2px solid white;
    background: none;
}

.colorBox {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 2px 4px 0px 0px;
    cursor: pointer;

    background-image: url(../UI/UI/keep_btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 5px 0px #848484;
}

/* 메인이미지 여기까지 */



#review_btn {
    width: 100%;
    height: 40px;
    
    display: flex;
}

#show_btn, #remove_btn {
    position: relative;
    top: -50px;
    left: 600px;
}

#show_btn{ display: block;}
#remove_btn{ display: none;}


.btn_riview {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 102, 0);
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.btn_riview:hover {
    background-color: rgb(255, 123, 35);
    box-shadow: 3px 3px 3px gray;
    transition: 0.3s;
}