/* 
main {
    margin: 0 auto;
} */

#header {
    background-color: rgb(42, 25, 3);
    width: 100%;
    /* text-align: center; */
   
}
#headerImage {
    background-color: rgba(255, 214, 161, 0.293);
    width: 100%;
    height: 300px;
    border: 1px solid black;
}
#utility {
    background-color: rgb(255, 184, 92);
    width: 600px;
    height: 50px;
    position: fixed;
    top: 0;
    margin-left:50%;
    z-index:1;
}
#headerTitle{
    background-color: rgb(252, 154, 26);
    margin: 0 auto;
    height: 100px;
    font-size: 3em;
    margin-top: 100px;
    text-align: center;
}

#search {
	width: 350px;
	height: 30px;
}

#search_window {
	width: 500px;
	height: 350px;
	background-color: white;
	
	position: fixed;
    top: 50px;
    margin-left:50%;
    z-index:1;
}



#tagView{
    background-color: rgb(202, 248, 169);
    height:200px;
}
#first_row{
    background-color: rgb(169, 255, 108);
    height:100px;
}
#second_row{
    background-color:  rgb(88, 148, 46);
}

#tagList{
    background-color: rgb(247, 172, 238);
    padding: 10%;
}

.store {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
}


/* #first_line{
    background-color:  rgb(253, 124, 238);
}
#second_line{
    background-color:  rgb(155, 57, 144);
}
#third_line{
    background-color:  rgb(87, 50, 83);
} */


#footer{
    background-color: antiquewhite;
}








/* 라이브러리로 가져온 버튼 css */
.bttn-default {
    color: #fff;
  }
  .bttn-primary,
  .bttn,
  .bttn-lg,
  .bttn-md,
  .bttn-sm,
  .bttn-xs {
    color: #1d89ff;
  }
  .bttn-warning {
    color: #feab3a;
  }
  .bttn-danger {
    color: #ff5964;
  }
  .bttn-success {
    color: #28b78d;
  }
  .bttn-royal {
    color: #bd2df5;
  }
  .bttn,
  .bttn-lg,
  .bttn-md,
  .bttn-sm,
  .bttn-xs {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
  }
  .bttn-lg {
    padding: 8px 15px;
    font-size: 24px;
    font-family: inherit;
  }
  .bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
  }
  .bttn-sm {
    padding: 4px 10px;
    font-size: 16px;
    font-family: inherit;
  }
  .bttn-xs {
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
  }
  .bttn-material-flat {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
    overflow: hidden;
    border-width: 0;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 1px 5px 0 rgba(0,0,0,0.15);
    color: #1d89ff;
    text-transform: uppercase;
    -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .bttn-material-flat:hover,
  .bttn-material-flat:focus {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: box-shadow 0.4s ease-out;
    transition: box-shadow 0.4s ease-out;
  }
  .bttn-material-flat.bttn-xs {
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
  }
  .bttn-material-flat.bttn-sm {
    padding: 4px 10px;
    font-size: 16px;
    font-family: inherit;
  }
  .bttn-material-flat.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
  }
  .bttn-material-flat.bttn-lg {
    padding: 8px 15px;
    font-size: 24px;
    font-family: inherit;
  }
  .bttn-material-flat.bttn-default {
    background: #fff;
    color: #1d89ff;
  }
  .bttn-material-flat.bttn-primary {
    background: #1d89ff;
    color: #fff;
  }
  .bttn-material-flat.bttn-warning {
    background: #feab3a;
    color: #fff;
  }
  .bttn-material-flat.bttn-danger {
    background: #ff5964;
    color: #fff;
  }
  .bttn-material-flat.bttn-success {
    background: #28b78d;
    color: #fff;
  }
  .bttn-material-flat.bttn-royal {
    background: #bd2df5;
    color: #fff;
  }






  /* 모달 라이브러리 */
  
  .popup{
    width:100%;               
    max-width:1000px;          
    border-radius:10px;      
    overflow:hidden;         
    background-color:#264db5; 

    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
  }


  .popup-head{
    width:100%;
    /* width: 1000px; */
    height:50px;  
    display:flex; 
    align-items:center;
    justify-content:center;
  }

  .popup-body{               
    width:100%;
    /* width: 800px; */
    background-color:#ffffff;}

  .body-content{             
    width:100%;
    padding:30px;             
  }
  .body-titlebox{            
    text-align:center;       
    width:100%;
    height:40px;
    margin-bottom:10px;      
  }
  .body-contentbox{         
    word-break:break-word;    
    /* overflow-y:auto;           */
    min-height:100px;        
    max-height:200px;      
  }