<!Doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>MMN-메인페이지</title>
    <link rel="stylesheet" href="../CSS/style_main.css">
</head>

<body>
    <main>
        <div id="header">     
        	 
            <div id="utility">
            <input type="text" id="search" placeholder="검색"></input>
            관심목록 내계정 아이콘 2개                
            </div>
            <div id="search_window">
            	<div id="search_tag">태그: <br><br><br><br><br></div>
           	 	<hr>
            	<div id="store_tag">가게:</div>
            </div>
            <div id="headerImage">
                <div id="headerTitle">오늘 뭐묵지 추천리스트 머시기머시기</div>     
            </div>                  
        </div>
        <div id="tagView">
            <div id="first_row">
                <!-- 라이브러리로 가져온 버튼 -->
                <button class="bttn-material-flat bttn-md bttn-primary">medium</button>
                <button class="bttn-material-flat bttn-md bttn-primary">medium</button>
                <button class="bttn-material-flat bttn-md bttn-primary">medium</button>
                <button class="bttn-material-flat bttn-md bttn-primary">medium</button>
                <button class="bttn-material-flat bttn-md bttn-primary">medium</button>
            </div>
            <div id="second_row"></div>
        </div>
        <div id="tagList">
            <div class="container">
                <div class="popup-wrap" id="popup">
                  <div class="popup">	
                    <div class="popup-head">	
                        <span class="head-title">#태그명</span>
                    </div>
                    <div class="popup-body">	
                      <div class="body-content">
                        <div class="body-titlebox">
                        </div>
                        <div class="body-contentbox">
                            <div id="store1" class="store">1</div>
                            <div id="store2" class="store">2</div>
                            <div id="store3" class="store">3</div>
                            <div id="store4" class="store">4</div>
                            <div id="store5" class="store">5</div>
                        </div>
                    </div>
                  </div>
                 </div>
              </div>
<!-- 
            <div id="first_line"></div>
            <div id="second_line"></div>
            <div id="third_line"></div> -->
        </div>
        <div id="footer"></div>
    </main>
</body>

</html>