<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>MMN-main</title>

  <link href="../CSS/template.css" rel="stylesheet" />
  <link href="../CSS/style_main_main.css" rel="stylesheet" />

</head>


<body>
  <!-- Navigation-->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#!"><img src="../UI/UI/logo_MMN(2).png" width="100px"></a>
      <a class="btn btn-primary" href="#signup" id="loginasdf">로그인</a>
      <a class="btn btn-primary" href="#signup" id="signupasdf">회원가입</a>
    </div>
  </nav>

  <!-- <button id="show">팝업열기</button> -->
  <div class="background">
    <div class="window">

      <div class="popup">
        <img src="../UI/UI/뭐뭇나_List_none.png" class="list_none" id="list_none">

        <div id = "store0" class="store">
          <div class="keep_icon"></div>
          <div class="store_photo">사진</div>
          <div class="store_details">
            <div class="store_name">가게명</div>
            <div class="store_score">평점</div>
            <div class="store_category">업종분류</div>
            <div class="store_address">주소 뫄뫄뫄뫄뫄뫄뫄뫄</div>
          </div>
        </div>

        <div id = "store1" class="store">
          <div class="keep_icon"></div>
          <div class="store_photo">사진</div>
          <div class="store_details">
            <div class="store_name">가게명</div>
            <div class="store_score">평점</div>
            <div class="store_category">업종분류</div>
            <div class="store_address">주소 뫄뫄뫄뫄뫄뫄뫄뫄</div>
          </div>
        </div>

        <div id = "store2" class="store">
          <div class="keep_icon"></div>
          <div class="store_photo">사진</div>
          <div class="store_details">
            <div class="store_name">가게명</div>
            <div class="store_score">평점</div>
            <div class="store_category">업종분류</div>
            <div class="store_address">주소 뫄뫄뫄뫄뫄뫄뫄뫄</div>
          </div>
        </div>

        <div id = "store3" class="store">
          <div class="keep_icon"></div>
          <div class="store_photo">사진</div>
          <div class="store_details">
            <div class="store_name">가게명</div>
            <div class="store_score">평점</div>
            <div class="store_category">업종분류</div>
            <div class="store_address">주소 뫄뫄뫄뫄뫄뫄뫄뫄</div>
          </div>
        </div>

        <div id = "store4" class="store">
          <div class="keep_icon"></div>
          <div class="store_photo">사진</div>
          <div class="store_details">
            <div class="store_name">가게명</div>
            <div class="store_score">평점</div>
            <div class="store_category">업종분류</div>
            <div class="store_address">주소 뫄뫄뫄뫄뫄뫄뫄뫄</div>
          </div>
        </div>

        <div id = "store5" class="store">
          <div class="keep_icon"></div>
          <div class="store_photo">사진</div>
          <div class="store_details">
            <div class="store_name">가게명</div>
            <div class="store_score">평점</div>
            <div class="store_category">업종분류</div>
            <div class="store_address">주소 뫄뫄뫄뫄뫄뫄뫄뫄</div>
          </div>
        </div>

        <div id = "store6" class="store">
          <div class="keep_icon"></div>
          <div class="store_photo">사진</div>
          <div class="store_details">
            <div class="store_name">가게명</div>
            <div class="store_score">평점</div>
            <div class="store_category">업종분류</div>
            <div class="store_address">주소 뫄뫄뫄뫄뫄뫄뫄뫄</div>
          </div>
        </div>

        <div id = "store7" class="store">
          <div class="keep_icon"></div>
          <div class="store_photo">사진</div>
          <div class="store_details">
            <div class="store_name">가게명</div>
            <div class="store_score">평점</div>
            <div class="store_category">업종분류</div>
            <div class="store_address">주소 뫄뫄뫄뫄뫄뫄뫄뫄</div>
          </div>
        </div>

        <div id = "store8" class="store">
          <div class="keep_icon"></div>
          <div class="store_photo">사진</div>
          <div class="store_details">
            <div class="store_name">가게명</div>
            <div class="store_score">평점</div>
            <div class="store_category">업종분류</div>
            <div class="store_address">주소 뫄뫄뫄뫄뫄뫄뫄뫄</div>
          </div>
        </div>

        <div id = "store9" class="store">
          <div class="keep_icon"></div>
          <div class="store_photo">사진</div>
          <div class="store_details">
            <div class="store_name">가게명</div>
            <div class="store_score">평점</div>
            <div class="store_category">업종분류</div>
            <div class="store_address">주소 뫄뫄뫄뫄뫄뫄뫄뫄</div>
          </div>
        </div>



        <button id="close">팝업닫기</button>
      </div>


    </div>
  </div>

  <script>
    function show() {
      document.querySelector(".background").className = "background show";
    }

    function close() {
      document.querySelector(".background").className = "background";
    }

    document.querySelector("#loginasdf").addEventListener("click", show);
    document.querySelector("#close").addEventListener("click", close);
  </script>


 
</body>

</html>