<!Doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>MMN-태그페이지</title>
    <link rel="stylesheet" href="../CSS/style_TagPage_0414.css">
</head>

<body>
    <main>
        <div id="header">
            <div id="headerImage">
                <div id="headerTitle">태그 제목 동적으로 받아오기</div>
            </div>
        </div>


        <!-- 태그리스트 1묶음 -->
        <div id="tagList1" class="taglist">
            <div id="store_photo1" class="store_photo">
                <img src="../UI/storeImg/1.jpg" class="store_img">
            </div>
            <div id="store_info1" class="store_info">
                <div id="store_details1" class="store_details">
                    <div class="first_row">
                        <div class="index">1.</div>
                        <div class="store_name">삼겹천국</div>
                    </div>
                    <div class="second_row">
                        <div class="score">4.5</div>
                        <div class="store_category">구이/고기</div>
                    </div>
                    <div class="store_addr">부산광역시 사상구 덕포동 뫄뫄뫄모마뫄모뫄뫄</div>
                    <div class="watchlist_title">함 무볼까</div>
                </div>
                <div class="store_keep"><img src="../UI/UI/keep_btn.png" width="100px"></div>
                <div class="review">
                    <div class="profile"><img src="../UI/profile/asdf.jpg" id="profile_photo"></div>
                    <div class="content">
                        <h4>hyuni</h4>
                        <p>천안 호두과자 맛집 - 선물용 호두과자를 산다면 바로 여기서!!<br>-원조답게 할머니 사진이 게시되어 있고, 백년가게 인증을 받...</p>
                    </div>
                </div>
                <div class="more_info"> >더 알아보기 </div>
            </div>
        </div>
        <!-- 태그리스트 1묶음 -->


        <!-- 2번 태그리스트 -->
        <div id="tagList2" class="taglist">
            <div id="store_photo1" class="store_photo">
                <img src="../UI/storeImg/2.jpg" class="store_img">
            </div>
            <div id="store_info1" class="store_info">
                <div id="store_details1" class="store_details">
                    <div class="first_row">
                        <div class="index">2.</div>
                        <div class="store_name">톤쇼우</div>
                    </div>
                    <div class="second_row">
                        <div class="score">4.5</div>
                        <div class="store_category">일식/돈까스</div>
                    </div>
                    <div class="store_addr">ㅁㄴㅇㄻㄴㅇㄻㄴㅇㄻㄴㅇㄻㄴㅇㄹ</div>
                    <div class="watchlist_title">함 무볼까</div>
                </div>
                <div class="store_keep"><img src="../UI/UI/keep_btn.png" width="100px"></div>
                <div class="review">
                    <div class="profile"><img src="../UI/profile/asdf.jpg" id="profile_photo"></div>
                    <div class="content">
                        <h4>닉네임</h4>
                        <p>리뷰 내용</p>
                    </div>
                </div>
                <div class="more_info"> >더 알아보기 </div>
            </div>
        </div>




        <!-- 3번 태그리스트 -->
        <div id="tagList3" class="taglist">
            <div id="store_photo1" class="store_photo">
                <img src="../UI/storeImg/2.jpg" class="store_img">
            </div>
            <div id="store_info1" class="store_info">
                <div id="store_details1" class="store_details">
                    <div class="first_row">
                        <div class="index">3.</div>
                        <div class="store_name">동적으로 받아오기</div>
                    </div>
                    <div class="second_row">
                        <div class="score">평점</div>
                        <div class="store_category">카테고리</div>
                    </div>
                    <div class="store_addr">주소</div>
                    <div class="watchlist_title">함 무볼까</div>
                </div>
                <div class="store_keep"><img src="../UI/UI/keep_btn.png" width="100px"></div>
                <div class="review">
                    <div class="profile"><img src="../UI/profile/asdf.jpg" id="profile_photo"></div>
                    <div class="content">
                        <h4>닉네임</h4>
                        <p>리뷰 내용</p>
                    </div>
                </div>
                <div class="more_info"> >더 알아보기 </div>
            </div>
        </div>


         <!-- 4번 태그리스트 -->
         <div id="tagList3" class="taglist">
            <div id="store_photo1" class="store_photo">
                <img src="../UI/storeImg/2.jpg" class="store_img">
            </div>
            <div id="store_info1" class="store_info">
                <div id="store_details1" class="store_details">
                    <div class="first_row">
                        <div class="index">4.</div>
                        <div class="store_name">동적으로 받아오기</div>
                    </div>
                    <div class="second_row">
                        <div class="score">평점</div>
                        <div class="store_category">카테고리</div>
                    </div>
                    <div class="store_addr">주소</div>
                    <div class="watchlist_title">함 무볼까</div>
                </div>
                <div class="store_keep"><img src="../UI/UI/keep_btn.png" width="100px"></div>
                <div class="review">
                    <div class="profile"><img src="../UI/profile/asdf.jpg" id="profile_photo"></div>
                    <div class="content">
                        <h4>닉네임</h4>
                        <p>리뷰 내용</p>
                    </div>
                </div>
                <div class="more_info"> >더 알아보기 </div>
            </div>
        </div>


         <!-- 5번 태그리스트 -->
         <div id="tagList3" class="taglist">
            <div id="store_photo1" class="store_photo">
                <img src="../UI/storeImg/2.jpg" class="store_img">
            </div>
            <div id="store_info1" class="store_info">
                <div id="store_details1" class="store_details">
                    <div class="first_row">
                        <div class="index">5.</div>
                        <div class="store_name">동적으로 받아오기</div>
                    </div>
                    <div class="second_row">
                        <div class="score">평점</div>
                        <div class="store_category">카테고리</div>
                    </div>
                    <div class="store_addr">주소</div>
                    <div class="watchlist_title">함 무볼까</div>
                </div>
                <div class="store_keep"><img src="../UI/UI/keep_btn.png" width="100px"></div>
                <div class="review">
                    <div class="profile"><img src="../UI/profile/asdf.jpg" id="profile_photo"></div>
                    <div class="content">
                        <h4>닉네임</h4>
                        <p>리뷰 내용</p>
                    </div>
                </div>
                <div class="more_info"> >더 알아보기 </div>
            </div>
        </div>


         <!-- 6번 태그리스트 -->
         <div id="tagList3" class="taglist">
            <div id="store_photo1" class="store_photo">
                <img src="../UI/storeImg/2.jpg" class="store_img">
            </div>
            <div id="store_info1" class="store_info">
                <div id="store_details1" class="store_details">
                    <div class="first_row">
                        <div class="index">6.</div>
                        <div class="store_name">동적으로 받아오기</div>
                    </div>
                    <div class="second_row">
                        <div class="score">평점</div>
                        <div class="store_category">카테고리</div>
                    </div>
                    <div class="store_addr">주소</div>
                    <div class="watchlist_title">함 무볼까</div>
                </div>
                <div class="store_keep"><img src="../UI/UI/keep_btn.png" width="100px"></div>
                <div class="review">
                    <div class="profile"><img src="../UI/profile/asdf.jpg" id="profile_photo"></div>
                    <div class="content">
                        <h4>닉네임</h4>
                        <p>리뷰 내용</p>
                    </div>
                </div>
                <div class="more_info"> >더 알아보기 </div>
            </div>
        </div>


         <!-- 3번 태그리스트 -->
         <div id="tagList7" class="taglist">
            <div id="store_photo1" class="store_photo">
                <img src="../UI/storeImg/2.jpg" class="store_img">
            </div>
            <div id="store_info1" class="store_info">
                <div id="store_details1" class="store_details">
                    <div class="first_row">
                        <div class="index">7.</div>
                        <div class="store_name">동적으로 받아오기</div>
                    </div>
                    <div class="second_row">
                        <div class="score">평점</div>
                        <div class="store_category">카테고리</div>
                    </div>
                    <div class="store_addr">주소</div>
                    <div class="watchlist_title">함 무볼까</div>
                </div>
                <div class="store_keep"><img src="../UI/UI/keep_btn.png" width="100px"></div>
                <div class="review">
                    <div class="profile"><img src="../UI/profile/asdf.jpg" id="profile_photo"></div>
                    <div class="content">
                        <h4>닉네임</h4>
                        <p>리뷰 내용</p>
                    </div>
                </div>
                <div class="more_info"> >더 알아보기 </div>
            </div>
        </div>


         <!-- 8번 태그리스트 -->
         <div id="tagList3" class="taglist">
            <div id="store_photo1" class="store_photo">
                <img src="../UI/storeImg/2.jpg" class="store_img">
            </div>
            <div id="store_info1" class="store_info">
                <div id="store_details1" class="store_details">
                    <div class="first_row">
                        <div class="index">8.</div>
                        <div class="store_name">동적으로 받아오기</div>
                    </div>
                    <div class="second_row">
                        <div class="score">평점</div>
                        <div class="store_category">카테고리</div>
                    </div>
                    <div class="store_addr">주소</div>
                    <div class="watchlist_title">함 무볼까</div>
                </div>
                <div class="store_keep"><img src="../UI/UI/keep_btn.png" width="100px"></div>
                <div class="review">
                    <div class="profile"><img src="../UI/profile/asdf.jpg" id="profile_photo"></div>
                    <div class="content">
                        <h4>닉네임</h4>
                        <p>리뷰 내용</p>
                    </div>
                </div>
                <div class="more_info"> >더 알아보기 </div>
            </div>
        </div>



         <!-- 9번 태그리스트 -->
         <div id="tagList3" class="taglist">
            <div id="store_photo1" class="store_photo">
                <img src="../UI/storeImg/2.jpg" class="store_img">
            </div>
            <div id="store_info1" class="store_info">
                <div id="store_details1" class="store_details">
                    <div class="first_row">
                        <div class="index">9.</div>
                        <div class="store_name">동적으로 받아오기</div>
                    </div>
                    <div class="second_row">
                        <div class="score">평점</div>
                        <div class="store_category">카테고리</div>
                    </div>
                    <div class="store_addr">주소</div>
                    <div class="watchlist_title">함 무볼까</div>
                </div>
                <div class="store_keep"><img src="../UI/UI/keep_btn.png" width="100px"></div>
                <div class="review">
                    <div class="profile"><img src="../UI/profile/asdf.jpg" id="profile_photo"></div>
                    <div class="content">
                        <h4>닉네임</h4>
                        <p>리뷰 내용</p>
                    </div>
                </div>
                <div class="more_info"> >더 알아보기 </div>
            </div>
        </div>


         <!-- 10번 태그리스트 -->
         <div id="tagList3" class="taglist">
            <div id="store_photo1" class="store_photo">
                <img src="../UI/storeImg/2.jpg" class="store_img">
            </div>
            <div id="store_info1" class="store_info">
                <div id="store_details1" class="store_details">
                    <div class="first_row">
                        <div class="index">10.</div>
                        <div class="store_name">동적으로 받아오기</div>
                    </div>
                    <div class="second_row">
                        <div class="score">평점</div>
                        <div class="store_category">카테고리</div>
                    </div>
                    <div class="store_addr">주소</div>
                    <div class="watchlist_title">함 무볼까</div>
                </div>
                <div class="store_keep"><img src="../UI/UI/keep_btn.png" width="100px"></div>
                <div class="review">
                    <div class="profile"><img src="../UI/profile/asdf.jpg" id="profile_photo"></div>
                    <div class="content">
                        <h4>닉네임</h4>
                        <p>리뷰 내용</p>
                    </div>
                </div>
                <div class="more_info"> >더 알아보기 </div>
            </div>
        </div>

    </main>
</body>

</html>