<!Doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>MMN-태그페이지</title>
    <link rel="stylesheet" href="../CSS/style_TagPage.css">
</head>

<body>
    <main>
        <div id="header">          
            <div id="utility">관심목록 내계정 아이콘 2개</div>
            <div id="headerImage">
                <div id="headerTitle">태그 제목</div>     
            </div>                  
        </div>
        <div id="tagList">
        <div id="store_photo"><img src="../UI/UI/keep_btn_hover.png" width="100px"></div>
        <div id="store_info">
            <div id="store_details">
                <div id="first_row">
                    <div id="index">1.</div>
                    <div id="store_name">삼겹천국</div>
                </div>
                <div id="second_row">
                    <div id="score">4.5</div>
                    <div id="store_category">구이/주류</div>
                </div>
            </div>
            <div id="store_keep"><img src="../UI/UI/keep_btn.png" width="100px"></div>
            <div id="review">
                <div id="profile"><img src="../UI/profile/jennie.jpg" id="profile_photo"></div>
                <div id="content">뫄뫄뫄</div>
            </div>
            <div id="more_info">>더 알아보기</div>
        </div>
        </div>

        
    </main>
</body>

</html>